.page-not-found{
    background-color: black;
    color:white;
    // min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    h1: {
        width: 100%;
    }
    h3: {
        width: 100%;
    }
}