.page-promotions-activations{
    background-color: black;
    color:white;
    min-height: 100vh;
    padding-top: 50px;
    &__sectionMain{
        padding-right: 60px;
        .partTwo{
               &--paragraph{
                padding-bottom: 17px;
                font-size: 17px;
            }
        }
    }
}